from ./templates/base.html
        <!-- {% if user.is_authenticated %}
        <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
        <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
        {% endif %} -->


from ./accounts/templates/accounts/home.html

 <!-- If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Django Schools, get started
    by creating a <a href="{% url 'student_signup' %}">student account</a> or a <a href="{% url 'teacher_signup' %}">teacher account</a>. -->


    <!-- {% if user.is_authenticated and user.is_administrator %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/administrators.css' %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/seekers.css' %}">
    {% endif %} -->


    <!-- <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button">I'm a student</a>
  <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a teacher</a> -->