{% extends 'base.html' %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Administrator Profile{% endblock %}</title>
</head>
{% block content %}
<body>
    {% if user.has_credentials %}
    {% if user.administrator.facility_enrolled %}
    {% for shift_post in shift_posts %}
    <li>{{shift_post.position}}</li>
    <li>{{shift_post.facility}}</li>
    {% endfor %}
    <h1>Administrator Profile Page</h1>
    <h2>You've Successfully Signed Up As An Admin!</h2>
    <a href="{% url 'administrators:shift_posts' pk=user.id %}">Add A Shift</a>
    {% else %}
    <h1>One Last Step</h1>
    <h2>Please click <a href="{% url 'administrators:facility' %}">here</a> tell us about your facility</h2>
    {% endif %}
    <div>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    </div>
    {% else %}
    <h1>Thanks for signing up!</h1><br>
    <h2>We have just a few more questions before you can begin posting shifts.</h2><br>
    <p>This may take a few minutes, click <a href="{% url 'administrators:admin_credentials' %}">here</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% endif %}
    <div>
    </div>
</body>
{% endblock %}
</html>