<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Connect To Care{% endblock %}</title>
    
  </head>
  <body>
    <div class="container my-4">
      
        Connect To Care
        {% block content %}
        {% endblock %}
           
    </div>
  </body>
</html>
