<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeker Profile</title>
</head>
<body>
    {% if user.has_credentials %}
    {% if user.seeker.verified %}
    <h1>Seeker Profile Page</h1>
    <div>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    </div>
    {% else %}
    <h1>Need To Verify Employment</h1>
    <fieldset>Click <a href="{% url 'seekers:employment_eligibility' %}">here</a> to verify employment eligibility</fieldset>
    <div>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    </div>
    {% endif %}
    {% else %}
    <h1>Thanks for signing up!</h1><br>
    <h2>We have just a few more questions before you can begin viewing shifts.</h2><br>
    <p>This may take a few minutes, click <a href="{% url 'seekers:seeker_credentials' %}">here</a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% endif %}
    <div>
    </div>
</body>
</html>